.card {
    max-width: 20%;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    background-color: linen;
}
.card_title,
.card_price,
.card_article,
.card_color,
.card_actions {
    margin: 5px;
}
.card_img {
    width: 100%;
}
.card_actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.card_selected {
    cursor: pointer;

    &--active svg path {
        fill: gold;
    }
}
