.header {
    background-color: lightseagreen;
    padding: 10px 60px;
    position: sticky;
    top: 0;
}

.header_wrapper {
    display: flex;
    align-items: center;
}

.header_name {
    flex-grow: 1;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: whitesmoke;
    text-transform: uppercase;
}

.header_icons {
    display: flex;
    gap: 15px;
}

.favorites,
.basket {
    display: flex;
}

.favorites_svg,
.basket_svg {
    cursor: pointer;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}
