.button {
    border-radius: 5px;
    border-color: transparent;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    padding: 7px 10px;
    min-width: 100px;
    cursor: pointer;

    &.cursorDefault {
        cursor: default;
    }
}
